extends layout

block content
  h1= title
  h2 Por José Campo
  p Ejercicio de la semana 1: #{title}
  p Vamos a buscar en tu ordenador los archivos con extensión .md 
  <!-- button.btn-seleccionar(type='button' onclick="buscar()") Buscar
  ul li= #{files}
  


