doctype html
html
  head
    title= title
    link(rel='shorcut icon', sizes='32x32', href='/public/images/favicon-32x32.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    
    
